:root{
    --page-color:#aa998f;
    --textbox-color--:#FEEBD7;
    --navbar-color--: #723d46 ;
    --title-color--: beige;
    --second-page-section--:#ADADAD;
    --second-page-text--:#55251d;
    --first-page-text--:#925c5c;
    --first--page-links: red;
}

body.darkmode{
    --page-color:#02245a;
    --textbox-color--:#7e5840;
    --navbar-color--: #000000 ;
    --title-color--: beige;
    --second-page-section--:#9a8e76;
    --second-page-text--:#160532;
    --first-page-text--:#f5f5fa;
    --first--page-links: rgb(0, 195, 255);

}